//Color Variables

$viking : #58e1c1;
$malibu : #51ddfc;
$silver: #ccc;
$white: #fff;


$color-text-primary: #777;

//Font-stack Variables

$font-stack-primary: 'Lato', sans-serif;

//Border Variables

$radius: 5px;